/* color selection  */
.pink{
    background-color: #FFDEF1;
}
.purple{
    background-color: #F2E2FF
}
.blue{
    background-color: #E2EDFF;
}
.cyan{
    background-color: #DCFFFB;
}
.cream{
    background-color: #FFFFE3;
}

.logo-toko{
    height: 150%;
    width: auto;
}

.navbar-form{
    margin-left: 35%;
}

.kelas{
    position: relative;
    float: left;
    margin: 10px 5%;
    left: 8%;
    padding: 5%;
}

.navbar-right{
    margin-right: 10%;
}

.navbar{
    background-image: linear-gradient( to right,#EEE4FF, #EDFFF3, #FFF0F8,#FFEBD7);
    margin-bottom: 0px;
}
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }