.content{
  width:100%;
 
}
.content>H1{
  margin:auto;
  text-align: center;
}
img{
width:300px;
border:1px solid black;
}
textarea{

  
}
table,td{
  border:1px solid black;
}
table{
 margin-left:25%;
}
td{
  
}