
.content{
    border-bottom: 1px solid black;
    
}

.profilemenu{
    margin-left:3%;   
}
.profpic{
    float:left;
    position: relative;

}
.changepic,.logout{
    position: relative;
    margin-top:5%;
    
}
.categories{
    width:80%;
    position: relative;
    margin-top:5%;
}

.profiledetails > h2{
    float: left;
}
.informations{
    overflow:auto;
    border-left:1px solid black;
    height:100%;
   
}
.profiledetails > h3{
    float:left;
}
label{
margin-left:2%;
}
table{
    width: 100%;
}
.subcatvoucher > h2{
    margin-left:50%;

}
table{
    border-collapse: collapse;
}
.subcatvoucher img{
    margin-left:20%;
}
.subcatvoucher button{
    float:right;
    margin-top:2%;
   
}
.subcatpolicy h2{
    margin-left:50%;
}

.submenu:hover{
    background-color: #E2EDFF;
    cursor:pointer;
}
ul{
    list-style-type: none;
}
.subcatorderhistory h2{
text-align: center;
}

.histories td, .histories th{
border: 1px solid black;
text-align: center;
}
.subcatnotifications h2{
    text-align: center;
}
.notif h4{
    text-align: center;
}
.notif p{
    text-align: justify;
}
.subcatwish h2{
text-align: center;
}
.wishes img{
   width:100px;
   height:100px;

}
.wishes tr,.wishes td,.wishes th{
    border:1px solid black;
    text-align: center;
}
.error p{color:pink;}

.alamat{
    background-color: #fff2db;
    border: 5px dashed pink;

}
.alamat td, .alamat th{
    padding-left: 10px;
}
.orderdetail{
    border-bottom:1px solid gray;
}
