.result{
    position: absolute;
   
}
.result h2{
    text-align: center;
}
table tr,th,td{
    border:1px solid black;
    
}
table td,table th{
    text-align:center;
    padding:10px 10px 10px 10px;
}
table{
  margin-top:20px;
  margin-left: 30%;
  
}.seperator {
    border-left: 6px solid black;
    height: auto;
  }
