.content{
    font-family: 'Lato', sans-serif;
}

.row{
    padding: 7px;
    margin: 0;
}

.cart{
    max-height: 800px;
    overflow: auto;
}

h2{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}

.delivery-details{
    background-color: #FFEBD7;
    min-height: 550px;
    max-height: 550px; 
    overflow: auto;
}
.tabel{
    line-height: 40px;
}
#alamat{
    padding: 10px 10px 50px 10px;
}
.subjudul{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}
.product{
    float: left;
    left: 0;
    margin-top: 80px;
}

.pendek{
    width: 100%;
}
.sedang{
    width: 100%;
}

.pref{
    padding-left: 10px;
}

.pic{
    width: 50%;
    margin-left: -20px;
}

.qty{
    width: 15%;
}
#payment-but{
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:  #FF9B91;
    top: 75%;
    right: 5%;
    position: fixed;
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: medium;
    font-weight: bolder;
}
.footer{
    background-image: linear-gradient(to right, #EEE4FF, #EDFFF3, #FFF0F8, #FFEBD7);
      left: 0;
      bottom: 0;
      width: 100%;
    }
}