

.menu-option {
    z-index: 1000000;
    font-weight: bold;
    font-size: 0.8em;
    width: 100%;
    background: #f1f1f1;
    position: absolute;
    text-align: center;
    font-size: 12px;
}

.menu-option ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.menu-option li {
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: #dddddd 1px solid;
}

.menu-option li:hover {
    display: block;
    background: #ffffff;
    padding: 15px 0 15px 0;
    border-bottom: #dddddd 1px solid;
}

.menu-option ul li a {
    text-decoration: none;
    margin: 0px;
    color: #666;
}

.menu-option ul li a:hover {
    color: #666;
    text-decoration: none;
}

.menu-option a {
    text-decoration: none;
    color: #666;
}

.menu-option a:hover {
    text-decoration: none;
    color: #666;
}

.menu {
    margin-left: 0%;
    position: absolute;
    padding-top: 1%;
}

body
{ background-image: linear-gradient(to right, #EEE4FF, #EDFFF3, #FFF0F8, #FFEBD7);}


.productsimg {

    min-height: 500px;
    overflow: auto;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.product-thumbnail {
    background-color: white;
    text-align: center;
    padding: 10px;
    width: 225px;
    margin: 10px;
    float: left;
    position: relative;
}
.product-thumbnail img{
    width: 500px;
}
.product-thumbnail h5{
 text-align:center;
 color: black; 
 font-family: 'Lato', sans-serif;  
 
}

.dropdown {
    position: relative;
    float: none;
    left: 650px;
}

.categories {
    padding: 40px;
    float: left;
    width: 250px;
}
.Categorytitle h1 {
    margin-top:0%;
    text-align: center;
  font-family:'Pacifico', cursive;
    color:black;
}
.modal-content {
    overflow: auto;
    width: 100%;
    background-image: black;
}

.addtocart>.btn {
    position: relative;
}

.firstpic {
    width: 100%;
    height: auto;
    margin-left: 60%;
    transform: translateX(-50%);
    position: relative;

}

.addtocart {
    width: 100%;
    position: relative;
    margin-left: 5%;
}

/* The grid: Four equal columns that floats next to each other */
.productdesc {
    float: left;
    text-align: left;
    width: 30%;
}

.imagecollection .row {
    position: relative;
    margin-left: 10%;
    transform: translateX(-18%);
    width: 100%;
    padding-top: 10%;
}

.row .column {
    margin-left: 6%;
    
}

.imagecollection {
    float: left;
    
}

.column {
    width: 20%;
    float: left;
   margin: 50px, 50px, 40px, 50px;
    

}

/* Style the images inside the grid */
.column img {
    cursor: pointer;
    width:70px;
    border: 1px solid black;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



.modal-content>h4 {
    padding-left: 40px;

}

.product_view .modal-dialog {
    max-width: 800px;
    width: 100%;
}


.space-ten {
    padding: 10px 0;
}

/* float button */
.float {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 40px;
    right: 40px;
    background-color: white;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    font-size: 24px;
    margin-top: 18px;
}
.float>h5{
  position: relative;
  bottom: 12%;
    color:violet;
}
a.float+div.label-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover+div.label-container {
    visibility: visible;
    opacity: 1;
}
.warning h2{
    margin-left: 30%;
}
.prod_id{
    position:absolute;
    visibility: hidden;
}
.panel-title{
    font-family: 'Courgette', cursive;
    text-align:center;
}
.panel-body li{
    font-family: 'Lato', sans-serif;
}